<!-- Hidden Fields : Start -->
@using Cicero.Service.Models.Core.Elements
@model Cicero.Service.Models.Core.Elements.Hyperlink;
@using Cicero.Service.Services
@inject ICommonService commonService
@inject IFormBuilderService FormBuilderService

@{
    Hyperlink hd = Model as Hyperlink;
    int formId = Convert.ToInt32(hd.Data);
    List<SelectListItem> formElements = FormBuilderService.GetFormFields(formId, true);
    List<SelectListItem> formAllElements = FormBuilderService.GetFormFields(formId, true, true);
}
<div class="modal-header flex-column">
    <h5 class="modal-title">Hyperlink Setting</h5>
    <p class="mb-0">This settings helps you to customize Hyperlink</p>
</div>
<div class="status"></div>
<div class="modal-body">
    <ul class="fb-card">
        <li class="active">
            <header>Name</header>
            <section>
                <div class="form-row">
                    <div class="form-group col-lg-6">
                        <label for="ElementName_@hd.ElementId">Element Name</label>
                        <input type="text" class="form-control" id="ElementName_@hd.ElementId" @hd.GetName("Name") value="@hd.Name" data-name="elmName" />
                        <small class="form-text text-muted">Input a Unique Name for this Element.</small>
                        <span class="field-validation-valid" data-valmsg-for="ElementName_@hd.ElementId" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </section>
        </li>
        <li>
            <header>Frontend Setting</header>
            <section>
                <input type="hidden" @hd.GetName("ElementId") value="@hd.ElementId" />
                <div class="form-row">
                    <div class="form-group col-lg-6">
                        <label for="hyperlinkFrontendId_@hd.FrontendId">Id</label>
                        <input type="text" id="hyperlinkFrontendId_@hd.FrontendId" class="form-control" @hd.GetName("FrontendId") value="@hd.FrontendId" />
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="hyperlinkFrontendClass_@hd.FrontendId">Class</label>
                        <input type="text" id="hyperlinkFrontendClass_@hd.FrontendId" class="form-control" @hd.GetName("FrontendClass") value="@hd.FrontendClass" />

                    </div>

                    <div class="form-group col-lg-6">
                        <label for="hyperlinkFrontendLabel_@hd.FrontendId">Label</label>
                        <input type="text" class="form-control" id="hyperlinkFrontendLabel_@hd.FrontendId" @hd.GetName("FrontendLabel") value="@hd.FrontendLabel" />
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="frontendIcon_@hd.FrontendId">Icon</label>
                        <div class="input-group">
                            <input type="text" class="form-control" @hd.GetName("FrontendIcon") id="frontendIcon_@hd.FrontendId" value="@hd.FrontendIcon">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" id="selectIconFrontend" type="button" onclick="showIcons('frontend')">Select Icon</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="hyperlinkFrontendHref_@hd.FrontendId">Url</label>
                        <input type="text" class="form-control" id="hyperlinkFrontendHref_@hd.FrontendId" @hd.GetName("FrontendHref") value="@hd.FrontendHref" />
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="hyperlinkFrontendTarget_@hd.FrontendId">Target</label>
                        <select class="custom-select" id="hyperlinkFrontendTarget_@hd.FrontendId" @hd.GetName("FrontendTarget")>
                            <option value="" selected="@("" == hd.FrontendTarget)">Current Tab</option>
                            <option value="_blank" selected="@("_blank" == hd.FrontendTarget)">New Tab</option>
                        </select>
                    </div>
                </div>
                <div class="switch-control">
                    <label for="hyperlinkFrontendVisible_@hd.FrontendId" class="switch">
                        <input class="switch__input" id="hyperlinkFrontendVisible_@hd.FrontendId" @hd.GetName("FrontendVisible") type="checkbox" value="true" @hd.GetChecked(hd.FrontendVisible)>
                        <span class="switch__state"></span>
                        <span class="switch__label">Default visible</span>
                    </label>
                </div>

                <div class="switch-control">
                    <label for="iconFrontendVisibility_@hd.FrontendId" class="switch">
                        <input class="switch__input" id="iconFrontendVisibility_@hd.FrontendId" @hd.GetName("FrontendIconVisibility") type="checkbox" value="true" @hd.GetChecked(hd.FrontendIconVisibility)>
                        <span class="switch__state"></span>
                        <span class="switch__label">Icon Visibility</span>
                    </label>
                </div>

                <div class="switch-control">
                    <label for="hyperlinkVisibleinFooter_@hd.FrontendId" class="switch">
                        <input class="switch__input" id="hyperlinkVisibleinFooter_@hd.FrontendId" @hd.GetName("VisibleinFooter") type="checkbox" value="true" @hd.GetChecked(hd.VisibleinFooter)>
                        <span class="switch__state"></span>
                        <span class="switch__label">Visible In Footer</span>
                    </label>
                </div>
            </section>
        </li>
        <li>
            <header>Backend Setting</header>
            <section>
                <div class="form-row">
                    <div class="form-group col-lg-6">
                        <label for="hyperlinkBackendId_@hd.BackendId">Id</label>
                        <input type="text" class="form-control" id="hyperlinkBackendId_@hd.BackendId" @hd.GetName("BackendId") value="@hd.BackendId" />
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="hyperlinkBackendClass_@hd.BackendId">Class</label>
                        <input type="text" class="form-control" id="hyperlinkBackendClass_@hd.BackendId" @hd.GetName("BackendClass") value="@hd.BackendClass" />
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="hyperlinkBackendLabel_@hd.BackendId">Label</label>
                        <input type="text" class="form-control" id="hyperlinkBackendLabel_@hd.BackendId" @hd.GetName("BackendLabel") value="@hd.BackendLabel" />
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="backendIcon_@hd.BackendId">Icon</label>
                        <div class="input-group">
                            <input type="text" class="form-control" @hd.GetName("BackendIcon") id="backendIcon_@hd.BackendId" value="@hd.BackendIcon">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" id="selectIconBackend" type="button" onclick="showIcons('backend')">Select Icon</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="hyperlinkBackendHref_@hd.BackendId">Url</label>
                        <input type="text" class="form-control" id="hyperlinkBackendHref_@hd.BackendId" @hd.GetName("BackendHref") value="@hd.BackendHref" />
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="hyperlinkBackendTarget_@hd.BackendId">Target</label>
                        <select class="custom-select" id="hyperlinkBackendTarget_@hd.BackendId" @hd.GetName("BackendTarget")>
                            <option value="" selected="@("" == hd.BackendTarget)">Current Tab</option>
                            <option value="_blank" selected="@("_blank" == hd.BackendTarget)">New Tab</option>
                        </select>
                    </div>
                </div>
                <div class="switch-control">
                    <label for="hyperlinkBackendVisible_@hd.BackendId" class="switch">
                        <input class="switch__input" id="hyperlinkBackendVisible_@hd.BackendId" @hd.GetName("BackendVisible") type="checkbox" value="true" @hd.GetChecked(hd.BackendVisible)>
                        <span class="switch__state"></span>
                        <span class="switch__label">Default visible</span>
                    </label>
                </div>
                <div class="switch-control">
                    <label for="iconBackendVisibility_@hd.BackendId" class="switch">
                        <input class="switch__input" id="iconBackendVisibility_@hd.BackendId" @hd.GetName("BackendIconVisibility") type="checkbox" value="true" @hd.GetChecked(hd.BackendIconVisibility)>
                        <span class="switch__state"></span>
                        <span class="switch__label">Icon Visibility</span>
                    </label>
                </div>
            </section>
        </li>
        <li>
            <header>Permission</header>
            <section>
                <div class="table-responsive">
                    <table class="table table-custom">
                        <thead>
                            <tr>
                                <th>Role Name</th>
                                <th>Read</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int index = 0;
                                foreach (var role in commonService.GetRoleList())
                                {
                                    var Roledata = hd?.Permissions?.Where(p => p.RoleId == role.Value).FirstOrDefault();
                                    if (Roledata != null)
                                    {

                                        <tr>
                                            <td>
                                                @role.Text
                                                <input class="form-control" type="hidden" name="Permissions[@index][RoleId]" value="@role.Value" />
                                            </td>

                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" name="Permissions[@index][Read]" type="checkbox" value="true" checked="@Roledata.Read" id="Permissions_@(index + "_Read_" + hd.ElementId)" />
                                                    <label class="custom-control-label" for="Permissions_@(index + "_Read_" + hd.ElementId)"></label>
                                                </div>
                                            </td>
                                        </tr>

                                    }
                                    else
                                    {
                                        <tr>
                                            <td>
                                                @role.Text
                                                <input class="form-control" type="hidden" name="Permissions[@index][RoleId]" value="@role.Value" />
                                            </td>

                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" name="Permissions[@index][Read]" type="checkbox" value="true" checked id="Permissions_@(index + "_Read_" + hd.ElementId)" />
                                                    <label class="custom-control-label" for="Permissions_@(index + "_Read_" + hd.ElementId)"></label>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    index++;
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </section>
        </li>
        <li>
            <header>PopUp Target</header>
            <section>
                <p>Select Element to show on popup</p>
                <div class="form-group">
                    <div class="switch-control">
                        <label for="hyperLinkPopUp_@hd.FrontendId" class="switch">
                            <input class="switch__input" id="hyperLinkPopUp_@hd.FrontendId" @hd.GetName("EnablePopup") type="checkbox" value="true" @hd.GetChecked(hd.EnablePopup)>
                            <span class="switch__state"></span>
                            <span class="switch__label">Enable Pop Up</span>
                        </label>
                    </div>
                </div>

                <div class="switch-control">
                    <label for="hyperLinkDisablePopUp_@hd.FrontendId" class="switch">
                        <input class="switch__input" id="hyperLinkDisablePopUp_@hd.FrontendId" @hd.GetName("DisablePopupClose") type="checkbox" value="true" @hd.GetChecked(hd.DisablePopupClose)>
                        <span class="switch__state"></span>
                        <span class="switch__label">Disable Popup Close</span>
                    </label>
                </div>

                <div class="form-row">
                    <div class="col-lg-6 form-group">
                        <label for="PopUpTitle_@hd.FrontendId">Popup Title</label>
                        <input type="text" value="@hd.PopUpTitle" class="form-control" name="PopUpTitle" id="PopUpTitle_@hd.FrontendId" />
                    </div>
                    <div class="col-lg-6 form-group">
                        <label for="PopUpClass_@hd.FrontendId">Popup Class</label>
                        <input type="text" value="@hd.PopUpClass" class="form-control" name="PopUpClass" id="PopUpClass_@hd.FrontendId" >
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-12">
                        <div class="target_option_wrapper">
                            @{
                                if (hd.PopUpTarget != null && hd.PopUpTarget.Count > 0)
                                {
                                    int tgoIndex = 0;
                                    foreach (var to in hd.PopUpTarget)
                                    {
                                        <div class="field-validation-wrapper">
                                            <div class="field-controller">
                                                <a class="fc-icon icon-copy" data-action='clone-TargetingOption' title="Copy">
                                                    <i class="ri-file-copy-line"></i>
                                                    <span class="sr-only">Copy</span>
                                                </a>
                                                <a class="fc-icon icon-delete" data-action='remove-TargetingOption' title="Delete">
                                                    <i class="ri-close-line"></i>
                                                    <span class="sr-only">Delete</span>
                                                </a>
                                            </div>
                                            <div class="form-row">

                                                <div class="col-lg-3">
                                                    <select name="PopUpTarget[@tgoIndex]" class="custom-select" data-name="PopUpTarget[{0}]">
                                                        @{
                                                            <option value="">Please Select</option>

                                                            if (formAllElements != null)
                                                            {
                                                                foreach (SelectListItem si in formAllElements)
                                                                {
                                                                    <option selected="@(hd.PopUpTarget[tgoIndex]==si.Value)" value="@si.Value">@si.Text</option>
                                                                }
                                                            }

                                                        }

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        { tgoIndex++; }
                                    }

                                }
                                else
                                {


                                    <div class="field-validation-wrapper">
                                        <div class="field-controller">
                                            <a class="fc-icon icon-copy" data-action='clone-TargetingOption' title="Copy">
                                                <i class="ri-file-copy-line"></i>
                                                <span class="sr-only">Copy</span>
                                            </a>
                                            <a class="fc-icon icon-delete" data-action='remove-TargetingOption' title="Delete">
                                                <i class="ri-close-line"></i>
                                                <span class="sr-only">Delete</span>
                                            </a>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-lg-3">
                                                <select name="PopUpTarget[0]" class="custom-select" data-name="PopUpTarget[{0}]">
                                                    @{

                                                        <option value="">Please Select</option>

                                                        if (formAllElements != null)
                                                        {
                                                            foreach (SelectListItem si in formAllElements)
                                                            {
                                                                <option value="@si.Value">@si.Text</option>
                                                            }
                                                        }

                                                    }

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }


                        </div>

                    </div>
                </div>
            </section>
        </li>
        <li>
            <header>Developer Options</header>
            <section>
                <div class="form-row">
                    <div class="form-group col-lg-6">
                        <label for="Template_@hd.ElementId">Template</label>
                        <input type="text" class="form-control" id="Template_@hd.ElementId" @hd.GetName("Template") value="@hd.Template">
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="hyperlinkWrapperTemplate_@hd.ElementId">WrapperTemplate</label>
                        <input type="text" class="form-control" id="hyperlinkWrapperTemplate_@hd.ElementId" @hd.GetName("WrapperTemplate") value="@hd.WrapperTemplate" />
                    </div>

                </div>
            </section>
        </li>
    </ul>
</div>

<script>
    var selectedIcon = "";
    $(function () {

        $(".icon-item").on('click', function () {
            $(".icon-item").removeClass('active');
            selectedIcon = $(this).find(".icon-info").find("i").attr("class")
            $(this).addClass('active');
        });
    });

    function showIcons(e) {
        $("#modal-select-icon").modal("show");
        selectedIcon = "";
        $(".icon-item").removeClass('active');
        $("#btn-select-icon").attr("onclick", "setIconOnTab('" + e + "')");
    }



    function setIconOnTab(e) {
        console.log("here");
        if (selectedIcon != "") {
            if (e == "frontend") {
                $("[name='FrontendIcon']").val(selectedIcon);
            }
            else {
                $("[name='BackendIcon']").val(selectedIcon);
            }
        }
        else {

        }

    }
</script>
