@using Cicero.Service.Models
@using Cicero.Service.Services
@using Cicero.Service.Helpers
@using Cicero.Service.Models.Core;
@model UserViewModel
@inject IUserService _iUserService
@inject Permission Permission
@inject Utils  _utils

@{
    ViewData["body"] = "full-layout";
    ViewData["Title"] = "Profile";
    Theme theme = ViewData["theme"] as Theme;
    Layout = "~/Themes/" + theme.GetName(false) + "/Shared/_Layout.cshtml";
}

<div class="full-layout-region">
        <div class="vertical-layout">
        @await Html.PartialAsync("../Shared/_Header-dashboard.cshtml")
        <div class="main-container">

            @await Html.PartialAsync("../Shared/_SideMenu.cshtml")
            <main class="main-content" role="main">
                <div class="absolute-fill">
                    <div class="main-content-area">
                        <div class="container">
                            <div class="py-5" style="max-width: 500px; margin: auto;">
                                <h3>Profile Settings</h3>
                                <form action="@Url.Content("~/user/profile.html")" method="post">
                                    @Html.AntiForgeryToken()
                                    <div class="status"></div>
                                    <div asp-validation-summary="All"></div>
                                    <input type="hidden" name="Id" value="@Model.Id" />
                                    <div class="fileuploader fileuploader--theme-avatar">
                                        <div class="fileuploader__wrapper">
                                            <div class="fileuploader__list">
                                                <div class="fileuploader__items">
                                                    @foreach (var item in _iUserService.GetImagesByUserId(Model.Id).Take(1))
                                                    {
                                                        @if (System.IO.Path.GetExtension(item.Url) == ".pdf")
                                                        {
                                                            <div class="thumbs fileuploader__item"><a href="javascript:void(0)"><img src="/uploads/pdf-icon.png"><i class="" aria-hidden="true"><img src='/frontend/img/delete.png' /></i></a><input type="hidden" name="images[]" value="@item.Id"></div>
                                                        }
                                                        else if (System.IO.Path.GetExtension(item.Url) == ".doc" || System.IO.Path.GetExtension(item.Url) == ".docx" || System.IO.Path.GetExtension(item.Url) == ".txt")
                                                        {
                                                            <div class="thumbs fileuploader__item"><a href="javascript:void(0)"><img src="/uploads/doc-icon.png"><i class="" aria-hidden="true"><img src='/frontend/img/delete.png' /></i></a><input type="hidden" name="images[]" value="@item.Id"></div>
                                                        }
                                                        else
                                                        {
                                                            <div class="thumbs fileuploader__item">
                                                                <div class="fileuploader__item-image">
                                                                    <img src="/uploads/@item.Url">
                                                                </div>
                                                                <div class="actions-holder">
                                                                    <button class="btn fileuploader__action fileuploader__action-remove" type="button" title="Remove">
                                                                        <i class="fileuploader__icon-remove remixicon-close-circle-fill" aria-hidden="true"></i>
                                                                    </button>
                                                                </div>
                                                                <input type="hidden" name="images[]" value="@item.Id">
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="thumbs add fileuploader__input">
                                            <button type="button" class="btn btn-link fileuploader__input-button" data-media='{OnInit:function(){this.size="modal-lg";this.button.cancel="Cancel";this.button.insert="Insert Media";this.open();},OnInsert:function(e){Cicero.User.InsertImages(e)},OnCancelled:function(){this.close();}}'>Change avatar</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="FirstName">First name</label>
                                        <input asp-for="FirstName" type="text" class="form-control">
                                        <span asp-validation-for="FirstName"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="LastName">Last name</label>
                                        <input asp-for="LastName" type="text" class="form-control">
                                        <span asp-validation-for="LastName"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email">Email address</label>
                                        <input asp-for="Email" type="text" class="form-control" placeholder="someone@example.com">
                                        <span asp-validation-for="Email"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="PhoneNumber">Phone number</label>
                                        <input asp-for="PhoneNumber" type="text" class="form-control">
                                        <span asp-validation-for="PhoneNumber"></span>
                                    </div>
                                    <div class="py-4">
                                        <!-- <h6>Password settings</h6>
                                        <p>
                                            <small class="text-muted">Click below to change Password.</small>
                                        </p> -->
                                        <button type="button" id="btn-chng-pass" class="btn btn-link px-0" data-toggle="modal" data-target="#changePassword">Change password</button>
                                        <div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="changePassword" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header border-0 pb-2">
                                                        <h5 class="modal-title" id="changePasswordTitle">Password Setting</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="loading">
                                                            <div class="d-flex justify-content-center">
                                                                <div class="spinner-border" role="status">
                                                                    <span class="sr-only">Loading...</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        @*<form action="/" method="post">

                                                                                    <div class="form-group">
                                                                                        <label class="">Old Password</label>
                                                                                        <input type="password" name="name" value="" class="form-control" />
                                                                                        @*<input asp-for="OldPassword" type="password" class="form-control" placeholder="Current Password">
                                                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                                                                                    </div>
                                                                                            <div class="form-group">
                                                                                                <label class="">New Password</label>
                                                                                                <input type="password" name="name" value="" class="form-control" />
                                                                                                @*<input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password">
                                                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="">Confirm Password</label>
                                                                                                <input type="password" name="name" value="" class="form-control" />
                                                                                                @*<input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm New Password">
                                                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                                                                            </div>
                                                                                        </form>*@
                                                    </div>
                                                    <div class="modal-footer border-0 pt-2">
                                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                                        <button type="button" id="chng-pass-save" class="btn btn-primary">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-start align-items-center">
                                        @if (Permission.Can(UserCan.Edit_Profile) && _iUserService.getLoggedInUserId() == Model.Id)
                                        {
                                            <button type="submit" class="btn btn-primary mr-2">Update profile</button>
                                        }
                                        <!-- <a class="btn btn-outline-secondary" href="@Url.Content("~/user/dashboard.html")">Cancel</a> -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </main>
    </div>
</div>
@*@await Html.PartialAsync("../Shared/_Footer.cshtml")*@
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript">

        //open state modal to change password
        $(document).on("click", "#btn-chng-pass", function (e) {
            //e.preventDefault();
            $.ajax({
                type: "GET",
                dataType: "html",
                url: "@Url.Content("~/user" + _utils.GetTenantForUrl(false) + "/change-password")",
                //data: { id: "@Model.Id" },
                beforeSend: function() {
                    $(".loading").css('dislay', 'block');
                    $(".modal-footer").css({
                        'pointer-events': 'none',
                        'opacity': 0.5
                    });
                },
                complete: function(){
                    $(".loading").css('dislay', 'none');
                    $(".modal-footer").css({
                        'pointer-events': 'initial',
                        'opacity': 1
                    });
                },
                success: function (data) {
                    if (data != "" && data != " ") {
                        //document.getElementById("queue-form").reset();

                        $('#changePassword').find(".modal-body").html(data);
                        //$('#changePassword').modal('show');

                        //$("#form_id").trigger();
                    }
                }
            });
        });

        //chnage pass
        $(document).on("click", "#chng-pass-save", function (e) {
            //e.preventDefault();

            let checker = $( "#chng-form" ).valid();

            if (checker == true) {
                let temp = $("#chng-form").serialize();
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "@Url.Content("~/user" + _utils.GetTenantForUrl(false) + "/change-password")",
                    data: temp,
                    beforeSend: function() {
                        $(".loading--absolute").css('dislay', 'flex');
                        $(".modal-footer").addClass("disabled-action");
                    },
                    complete: function(){
                        $(".loading--absolute").css('dislay', 'none');
                        $(".modal-footer").removeClass("disabled-action");
                    },
                    success: function (html) {
                        let message = html.message;

                        $("#modal-status").replaceWith('<div class="status show" id="#modal-status"><div class="alert alert-'+html.status+'">'+message+'</div></div>');
                        document.getElementById("chng-form").reset();
                        if (html.status != "danger") {
                                $(".status").replaceWith('<div class="status show"><div class="alert alert-'+html.status+'">'+message+'</div></div>');
                                $("#changePassword").modal('toggle');
                        }


                        //$("#form_id").trigger();

                    }
                });
            }


        });
    </script>


}