@using Cicero.Service.Services
@using Cicero.Service.Models
@using Cicero.Service.Helpers
@model CaseViewModel
@inject ICaseService caseService
@inject Permission Permission
@inject AppSetting _appSetting
@inject Utils  _utils
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    if (ViewBag.ThemeView != null && ViewBag.ThemeView != "")
    {
        Layout = ViewBag.ThemeView;
    }
    ViewData["Title"] = "Claim";
    dynamic data = new object();
    if (Model.Id != 0)
    {
        data = Json.Serialize((dynamic)ViewBag.formData);
    }
    Cicero.Service.Models.Core.FormBuilderViewModel fbvm = Model.FormBuilder as Cicero.Service.Models.Core.FormBuilderViewModel;

    Cicero.Service.Models.Core.FormBuilder FB = new Cicero.Service.Models.Core.FormBuilder() { FormData = fbvm, Side = "frontend", HttpContext = HttpContextAccessor.HttpContext };

}
<div class="page-wrapper page-claim-overview">
    <div class="page-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-none p-0">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Claims</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">View Claim</li>
            </ol>
        </nav>
        <div class="page-header__main">
            <div class="case__header">
                <div class="case__title">
                    <h1 class="page-title case__title-text">
                        <span class="title">Claim ID:</span>
                        <span class="value">@Model.CaseGeneratedId</span>
                    </h1>
                    <span class="badge badge-success badge-pill py-2 px-3 ml-2" style="background-color: @Model.QueueColor;">@Model.QueueName</span>
                </div>
                <div class="case__meta">
                    <div class="case__type-name">@Model.CaseFormName</div>
                    <div class="case__created-time text-muted small dot-separator">Created on @Model.CreatedAt.ToLongDateString()</div>
                </div>
            </div>
            <div class="page-toolbar">
                <form action="@Url.Content("~/admin/form"+_utils.GetTenantForUrl(false)+"/"+_utils.GetParams("form")+"/action.html")" id="case-form-action" method="post">
                    <div class="mb-1">
                        <a href="@Url.Content("~/admin/form"+ _utils.GetTenantForUrl(false) +"/" + Model.CaseFormUrl + "/" + _utils.EncryptId(Model.Id) + "/edit.html")" class="btn btn-outline-secondary">Edit</a>
                        <a href="javascript::" data-confirm='{OnInit:function(){this.size="";this.title="Confirm"; this.content="Are you sure you want to apply selected action?";this.button.cancel="Cancel";this.button.confirm="Confirm Apply";this.open();},OnConfirm:function(){$("#case-form-action").submit()},OnCancelled:function(){this.close();}}' class="btn btn-danger">Delete</a>
                    </div>
                    <input type="text" hidden name="Ids" value="@Model.Id" />
                    <input type="text" hidden name="action" value="delete" />
                    <input type="text" name="page" value="@Url.Content("~/admin/form"+_utils.GetTenantForUrl(false)+"/"+ Model.CaseFormUrl +"/" + ViewBag.Queue + ".html")" hidden>
                </form>
                <div class="text-muted small">Last updated on @Model.UpdatedAt.ToLongDateString()</div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="case__content">
            @Html.Raw(await FB.RenderView2(data))
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.pop').addClass("img__pop");
        $.each($('.pop'), function (i, v) {
            $(this).attr("data-slide", (i + 1));
        })
        $('.pop').removeClass("pop");
        createLightBox();

        $.each($('.which'), function (index, data) {
            var targetId = [];
            var targetOptions = [];
            var targetActions = [];
            $.each($(data).parent().parent().find('ul[data-rowId]'), function (i, d) {
                targetId.push($(d).attr('data-rowid'));
            })

            $.each($(data).find('select option'), function (idx, option) {
                targetOptions = $(option).attr('data-target').split(',');
                targetActions = $(option).attr('data-action').split(',');
                var check = 0;
                $.each(targetId, function (indx, id) {
                    var valueIndex = jQuery.inArray("#" + id, targetOptions);
                    if ((targetActions[valueIndex] == "False")) {
                        check = 1;
                    }
                })

                if (check == 0) {
                    $(data).html($(option).val());
                    return false;
                }
            })
        })
    })

    function createLightBox() {
        var slides = '';
        // var thumbnail = '';
        var length = 0;
        var i = 1;
        $.each($('.fileuploader__item-image img'), function (index, value) {
            var imgsrc = $(this).attr("src");
            if (imgsrc.toLowerCase().indexOf("uploads") >= 0) {
                length++;
            }
        })
        $.each($('.fileuploader__item-image img'), function (index, value) {
            var imgsrc = $(this).attr("src");
            var imgTitle = $(this).attr('data-imgtitle');
            if (imgsrc.toLowerCase().indexOf("uploads") >= 0) {
                var currentIndex = i++;
                //imgsrc = 'https://www.w3schools.com/howto/img_nature_wide.jpg';
                slides += '<div class="lightbox__item mySlides"> <div class="numbertext">' + (currentIndex) + '/ ' + length + '</div> <img src="' + imgsrc + '" class="lightbox__img"> </div>';
                //  thumbnail += '<div class="column"> <img class="demo" src="' + imgsrc + '" onclick="currentSlide(' + (currentIndex) + ')" alt="' + imgTitle + '"> </div>';
            }
        });

        var buttons = '<a href="#" class="prev lightbox__prev lightbox__icon" onclick="plusSlides(-1)"><span class="sr-only">Previous</span></a> <a href="#" class="next lightbox__next lightbox__icon" onclick="plusSlides(1)"><span class="sr-only">Next</span></a> <!-- Caption text -->';
        var caption = '<div class="slide-caption"><div id="caption"></div></div>';
        var count = '<div class="slide-counter"><span id="currentNumber"></span>/' + length + '</div>';
        var modal = '<div id="lightBoxModal" class="lightbox"><div class="lightbox__dialog"><div class="lightbox__toolbar">' + count + caption + '<a href="#" class="lightbox__close lightbox__icon" onclick="closeModal()"><i class="sr-only">Close</i></a></div><div class="lightbox__content">' + slides + buttons + '' + '</div></div></div>';

        $('body').append(modal);
        //  showSlides(slideIndex);
    }

    // Open the Modal
    function openModal() {
        $("#lightBoxModal").css("display", "block");
    }

    // Close the Modal
    function closeModal() {
        $("#lightBoxModal").css("display", "none");
        $('.lightbox__backdrop').remove();
    }

  $(document).on('keyup', function (e) {
        if (e.keyCode === 27) {
            e.preventDefault();
            closeModal()
        }
        if (e.keyCode == 37) {
            if ($('#lightBoxModal').css('display') == "block") {
                plusSlides(-1)
            }
        }
         if (e.keyCode == 39) {
              if ($('#lightBoxModal').css('display') == "block") {
                  plusSlides(1);
            }
        }
    });

    var slideIndex = 1;

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        slideIndex = n;
        showSlides(slideIndex);
    }
    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        //  var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        $('#currentNumber').text(slideIndex);
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        //for (i = 0; i < dots.length; i++) {
        //    dots[i].className = dots[i].className.replace(" active", "");
        //}
        slides[slideIndex - 1].style.display = "block";
        var windowInnerHeight = window.innerHeight;
        var imgHeight = $(slides[slideIndex - 1]).find('img').height();
        if (imgHeight > windowInnerHeight) {
            $('.lightbox__img').css('max-height', (windowInnerHeight * 0.9) + 'px');
        }

        // dots[slideIndex - 1].className += " active";
        // captionText.innerHTML = dots[slideIndex - 1].alt;
    }
    $(document).on("click", '.img__pop', function (e) {
        var slide = $(e.currentTarget).attr("data-slide");
        currentSlide(parseInt(slide));
        openModal();
        var slidess = document.getElementsByClassName("mySlides");
        var _windowInnerHeight = window.innerHeight;
        var _imgHeight = $(slidess[parseInt(slide) - 1]).find('img').height();
        if (_imgHeight > _windowInnerHeight) {
            $('.lightbox__img').css('max-height', (_windowInnerHeight * 0.9) + 'px');
        }
        $('body').append('<div class="lightbox__backdrop show"></div>');
    })

</script>

