
@using Cicero.Service.Models.Core;
@using Cicero.Service.Helpers

@model List<object>

@inject Utils  _utils
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">*@
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


@if (Model.Count > 0)
{
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label>Select Automation</label>
                <ul class='list-unstyled'>

                    @foreach (dynamic item in Model)
                    {
                        <li class='form-group'>
                            <div class='custom-control custom-radio'>
                                @*<input type="text" id="dest-@item.ComponentId" value="@item.configs[0].destination" hidden />*@
                                <input type='radio' id='rad-@item.ComponentId' name='insert' data-type="automation" value="@item.ComponentId" class='custom-control-input' data-json='{"id":"@item.ComponentId","title":"@item.Title"}'>

                                <label class='custom-control-label' for='rad-@item.ComponentId'> @item.Title</label>
                            </div>
                        </li>
                    }

                </ul>



            </div>
        </div>
    </div>
    
}
else
{
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-warning form-inline">
                There are no options available to select. Please create new automation by clicking the new Automation button
            </div>
        </div>
    </div>
}


   <script>
       $(function () {
           $("[data-type='automation']").on('click', function () {
               //debugger;
               value = $(this).val();
               type = "Themes.Core.Components.CaseAutomation";
               $("#wf-delete-comp").find("#wf-delete-comp-btn").attr("data-id", value);
               $("#wf-delete-comp").find("#wf-delete-comp-btn").attr("data-type", type);
               $("#wf-auto-delete").removeAttr("disabled");

           });
       })
   </script>