
@using Cicero.Service.Models
@using Cicero.Service.Helpers
@model Cicero.Service.Models.SimpleTransfer.BankSetting.BankSettingViewModel
@inject Cicero.Service.Services.SimpleTransfer.IBranchMapperService IBranchMapperService
@inject Utils utils
@inject Permission Permission

@{
    ViewBag.Title = Utils.CreateOrEdit(Model) + " Bank";
    var countryList = IBranchMapperService.GetCountryList().Result;
}

<div class="page-wrapper">
    <div class="page-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-none p-0">
                <li class="breadcrumb-item">
                    <a href="@Url.Content("~/admin" + utils.GetTenantForUrl(false) + ".html")">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="@Url.Content("~/admin" + "/banksetting.html")">Bank</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@Utils.CreateOrEdit(Model) Bank</li>
            </ol>
        </nav>
        <div class="page-header__main">
            <h3 class="page-title">Manage Banks</h3>
            @if (Permission.Can(UserCan.Create_CorrespondentBank))
            {
                <div class="page-toolbar">
                    <a href="@Url.Content("~/admin" + "/banksetting/0/edit.html")" class="btn btn-primary"><i class="btn__icon ri-add-circle-line"></i><span class="btn__label">Add new record</span></a>
                </div>
            }
        </div>
    </div>
    <div class="page-content">
        <div class="page-form-container">
            <form action="@Url.Content("~/admin" + "/banksetting/"+Model.Id+"/edit.html")" method="post" class="page-container grid-horizontal-viewport form-container">
                <div class="page-aside">
                    <div class="aside-wrapper">
                        <div class="aside-header">
                            <h5>Manage Banks</h5>
                            <p>This section helps you to add/edit or delete Banks. Please make changes on required fields and Click on "Update changes" buttons.</p>
                        </div>
                        <div class="aside-body">
                        </div>
                    </div>
                </div>
                <div class="page-body">
                    <div class="form-wrapper">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="grid-column form-overview">
                            <div class="form-group">
                                <label asp-for="CountryCode" class="control-label"></label>
                                <select class="custom-select" asp-for="CountryCode">
                                    <option value="">Select Country</option>
                                    @{
                                        foreach (var ls in countryList)
                                        {
                                            <option value="@ls.Value">@ls.Text</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="CountryCode" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BankCode" class="control-label"></label>
                                <input asp-for="BankCode" class="form-control" />
                                <span asp-validation-for="BankCode" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BankName" class="control-label"></label>
                                <input asp-for="BankName" class="form-control" />
                                <span asp-validation-for="BankName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Created</label>
                                <input type="text" value="@Model.CreatedAt" name="CreatedAt" id="CreatedAt" class="form-control-plaintext font-weight-bold p-0" readonly="readonly">
                            </div>
                            <div class="form-group">
                                <label>Last updated</label>
                                <input type="text" value="@Model.UpdatedAt" name="UpdatedAt" id="UpdatedAt" class="form-control-plaintext font-weight-bold p-0" readonly="readonly">
                            </div>

                            <div class="form-group">
                                <label>Status</label><br />
                                <div class="custom-control custom-radio custom-control-inline">
                                    @Html.RadioButtonFor(model => model.Status, true, new { @id = "enable", @class = "custom-control-input" })
                                    <label class="custom-control-label" for="enable">Active</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    @Html.RadioButtonFor(model => model.Status, false, new { @id = "disable", @class = "custom-control-input" })
                                    <label class="custom-control-label" for="disable">Inactive</label>
                                </div>
                            </div>
                            <div class="form-footer">
                                @if (Permission.Can(UserCan.Update_CorrespondentBank))
                                {
                                    <button type="submit" class="btn btn-primary">Update Changes</button>
                                }
                                <a class="btn btn-outline-secondary btn-back" href="@Url.Content("/admin" +  "/banksetting.html")">Go back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

