@using Cicero.Service.Models
@using Cicero.Service.Helpers
@model Cicero.Service.Models.SimpleTransfer.City.CityViewModel
@inject Utils utils
@inject Permission Permission
@inject Cicero.Service.Services.SimpleTransfer.ICityService CityService
@{
    ViewBag.Title = Utils.CreateOrEdit(Model) + " City";
    var countryList = CityService.GetCountryList().Result;
    var rateSupplierList = CityService.GetRateSupplierList().Result;

}

<div class="page-wrapper">
    <div class="page-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-none p-0">
                <li class="breadcrumb-item">
                    <a href="@Url.Content("~/admin" + utils.GetTenantForUrl(false) + ".html")">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="@Url.Content("~/admin" + "/city.html")">City</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@Utils.CreateOrEdit(Model) City</li>
            </ol>
        </nav>
        <div class="page-header__main">
            <h3 class="page-title">Manage City</h3>
            @if (Permission.Can(UserCan.Create_CityConfig))
            {
                <div class="page-toolbar">
                    <a href="@Url.Content("~/admin" + "/city/0/edit.html")" class="btn btn-primary"><i class="btn__icon ri-add-circle-line"></i><span class="btn__label">Add new record</span></a>
                </div>
            }
        </div>
    </div>
    <div class="page-content">
        <div class="page-form-container">
            <form action="@Url.Content("~/admin" + "/city/"+Model.Id+"/edit.html")" method="post" class="page-container grid-horizontal-viewport">
                <div class="page-aside">
                    <div class="aside-wrapper">
                        <div class="aside-header">
                            <h5>Manage City</h5>
                            <p>This section helps you to add/edit or delete City Information. Please make changes on required fields and Click on "Save Change" buttons.</p>
                        </div>
                        <div class="aside-body">
                            <div class="form-group ">
                                <label class="mr-2">Status</label>
                                <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="customSwitchstatus"><label class="custom-control-label" for="customSwitchstatus"></label></div>

                            </div>
                            <div class="form-group ">
                                <label class="mr-2">Add to blacklist</label>
                                <div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="customSwitchBlaclist"><label class="custom-control-label" for="customSwitchBlaclist"></label></div>

                            </div>
                            <div class="form-group">
                                <label>Created At</label>
                                <input type="text" value="@Model.CreatedAt" name="CreatedAt" id="CreatedDate" class="form-control-plaintext font-weight-bold p-0" readonly="readonly">
                            </div>
                            <div class="form-group">
                                <label>Last updated</label>
                                <input type="text" value="@Model.UpdatedAt" name="UpdatedAt" id="UpdatedDate" class="form-control-plaintext font-weight-bold p-0" readonly="readonly">
                            </div>
                            @*<div class="form-group">
                                    <label>Status</label><br />
                                    <div class="custom-control custom-radio custom-control-inline">
                                        @Html.RadioButtonFor(model => model.Status, true, new { @id = "enable", @class = "custom-control-input" })
                                        <label class="custom-control-label" for="enable">Active</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        @Html.RadioButtonFor(model => model.Status, false, new { @id = "disable", @class = "custom-control-input" })
                                        <label class="custom-control-label" for="disable">Inactive</label>
                                    </div>
                                </div>*@


                            @*<div class="form-group">
                                    <label>Lockout</label><br />
                                    <div class="custom-control custom-radio custom-control-inline">
                                        @Html.RadioButtonFor(model => model.Lockout, 1, new { @id = "enableLockOut", @class = "custom-control-input" })
                                        <label class="custom-control-label" for="enableLockOut">Enable</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        @Html.RadioButtonFor(model => model.Lockout, 0, new { @id = "disableLockOut", @class = "custom-control-input" })
                                        <label class="custom-control-label" for="disableLockOut">Disable</label>
                                    </div>
                                </div>*@

                        </div>
                    </div>
                </div>
                <div class="page-body">
                    <div class="form-wrapper">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-body">
                            <div class="form-row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="SupplierId">Rate Supplier</label>
                                        <select asp-for="SupplierId" class="custom-select supplierList">
                                            <option value="">Select Rate Supplier</option>
                                            @{
                                                foreach (var ls in rateSupplierList)
                                                {
                                                    <option value="@ls.Value">@ls.Text</option>
                                                }
                                            }
                                        </select>
                                        <span asp-validation-for="SupplierId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="CountryCode">Country</label>
                                        <select asp-for="CountryCode" class="custom-select countryList">
                                            <option value="">Select Country</option>
                                            @{
                                                foreach (var ls in countryList)
                                                {
                                                    <option value="@ls.Value">@ls.Text</option>
                                                }
                                            }
                                        </select>
                                        <span asp-validation-for="CountryCode" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="CityCode" class="control-label"></label>
                                        <input asp-for="CityCode" class="form-control" />
                                        <span asp-validation-for="CityCode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="CityName" class="control-label"></label>
                                        <input asp-for="CityName" class="form-control" />
                                        <span asp-validation-for="CityName" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="StateId" class="control-label"></label>
                                        <input asp-for="StateId" class="form-control" />
                                        <span asp-validation-for="StateId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="StateName" class="control-label"></label>
                                        <input asp-for="StateName" class="form-control" />
                                        <span asp-validation-for="StateName" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-footer">
                            @if (Permission.Can(UserCan.Update_CityConfig))
                            {
                                <button type="submit" class="btn btn-primary">Update Changes</button>
                            }
                            <a class="btn btn-outline-secondary btn-back" href="@Url.Content("/admin" +  "/city.html")">Go back</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

